/*.pp
/*.gem
/.bundle
/.git
/.gitignore
/.rspec
/.rubocop_todo.yml
/.rubocop.yml
/.ruby-version
/.travis.yml
/appveyor.yml
/CHANGELOG.md
/coverage
/Gemfile
/Gemfile.lock
/Rakefile
/README.md
/spec
/tmp
