// Typography

$primary-font: 'Rubik', sans-serif;
$regular: 400;
$bold: 500;
$letter-spacing: 0.03rem;
$letter-spacing-2x: 0.06rem;
$letter-spacing-big: 0.1rem;

// Color Palette

$primary: #c1996b;
$primary-hover: #ad8b60;
$primary-transparent: rgba(195,157,109,0.95);
$primary-transparent-2: rgba(195,157,109,0.75);
$secondary: #efebe8;
$secondary-hover: #d6d1cc;
$success: #8ac148;
$success-hover: #599014;
$info: #00a9f4;
$info-hover: #007ac1;
$warning: #ff9800;
$warning-hover: #c66900;
$danger: #e53635;
$danger-hover: #ab000e;
$title-color: #222;
$text-color: #666;
$light-bg-color: #f7f7f7;
$dark-bg-color: #222;
$body-bg: #fefefe;
$dark-body-bg: #111;
$white: #fff;
$light-grey: #ebebeb;
$grey: #ccc;
$mid-grey: #777;
$dark-grey: #333;
$black: #000;