<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>puppet-lint</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">puppet-lint</h1>
        <p class="header"></p>

        <ul class="buttons">
          <li class="download">
            <a class="buttons" href="http://rubygems.org/gems/puppet-lint">Download Gem</a>
          </li>
          <li>
            <a class="buttons github" href="https://github.com/rodjek/puppet-lint">View On GitHub</a>
          </li>
        </ul>

        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="#">Checks</a></li>
          <li><a href="#">Changelog</a></li>
          <li><a href="https://github.com/rodjek/puppet-lint/issues">Issues</a></li>
        </ul>
        <p class="header">This project is maintained by <a class="header name" href="https://github.com/rodjek">rodjek</a></p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
  </body>
</html>
