name: "ci"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  ci:
    uses: "puppetlabs/cat-github-actions/.github/workflows/gem_ci.yml@main"
    with:
      with_acceptance: false
    secrets: "inherit"

